@model KabaImmo.Data.Immeuble

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Nouvel Immeuble</h3>
        </div><!-- .nk-block-head-content -->
        <div class="nk-block-head-content">
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div>

<div class="alert alert-info alert-icon">
    <em class="icon ni ni-alert-circle"></em> <strong>Information</strong>
    Cette page concerne seulement les propriétaires d'immeubles et permet de renseigner les tantièmes de chaque lot, afin de ventiler les dépenses communes.
    Vous devriez créer les lots dans la rubrique Biens avant de pouvoir remplir ce formulaire.
</div>

<div class="card card-bordered card-preview">
    <div class="card-inner">
        <ul class="nav nav-tabs mt-n3" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem1" aria-selected="false" role="tab" tabindex="-1"><em class="icon ni ni-user"></em><span>Information Générale</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-toggle="tab" href="#tabItem2" aria-selected="true" role="tab"><em class="icon ni ni-user"></em><span>Inf. Complémentaire</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem3" aria-selected="false" tabindex="-1" role="tab"><em class="icon ni ni-user"></em><span>Inf. Financière</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem4" aria-selected="false" tabindex="-1" role="tab"><em class="icon ni ni-user"></em><span>Photos</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem5" aria-selected="false" tabindex="-1" role="tab"><em class="icon ni ni-user"></em><span>Documents</span></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tabItem1" role="tabpanel">
                <div class="card card-bordered card-preview">
                    <div class="card-inner">
                        <span class="preview-title-lg overline-title">Informations générales</span>
                        <div class="row d-flex pb-3">
                            <div class="me-auto col-sm-12 col-md-5">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Identifiant</label>
                                            <span class="form-note">Identifiant de l'immeuble</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="site-name" value="identifiant" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex pb-3">
                            <div class="me-auto col-sm-12 col-md-5">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Pays</label>
                                            <span class="form-note">Identifiant de l'immeuble</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="site-name" value="Pays" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex pb-3">
                            <div class="me-auto col-sm-12 col-md-5">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Region</label>
                                            <span class="form-note">Identifiant de l'immeuble</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="site-name" value="Region" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-5 pb-3">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Ville</label>
                                            <span class="form-note">Indiquez le lieu</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="site-name" value="Ville" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex">
                            <div class="me-auto col-sm-12 col-md-5 pb-3">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Adresse</label>
                                            <span class="form-note">Identifiant de l'immeuble</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="site-name" value="Adresse" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-5 pb-3">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Adresse 2</label>
                                            <span class="form-note">Indiquez le lieu</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="site-name" value="Adresse 2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex">
                            <div class="me-auto col-sm-12 col-md-5 pb-3">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Code Postal</label>
                                            <span class="form-note">Identifiant de l'immeuble</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="site-name" value="Postal" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="preview-title-lg overline-title pt-5">Description</span>

                        <div class="row d-flex">
                            <div class="me-auto col-sm-12 col-md-5 pb-3">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Superficie M2</label>
                                            <span class="form-note">Identifiant de l'immeuble</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="site-name" value="Superficie" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex">
                            <div class="me-auto col-sm-12 col-md-5 pb-3">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Année construction</label>
                                            <span class="form-note">Identifiant de l'immeuble</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="site-name" value="Superficie" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex">
                            <div class="me-auto col-sm-12 col-md-5 pb-3">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Description</label>
                                            <span class="form-note">Identifiant de l'immeuble</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <textarea type="text" class="form-control" id="site-name" value="Superficie"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-5 pb-3">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Note Privé</label>
                                            <span class="form-note">Indiquez le lieu</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <textarea type="text" class="form-control" id="site-name" value="Superficie"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active show" id="tabItem2" role="tabpanel">
                <div class="nk-block-between mb-2">
                    <div class="nk-block-head-content">
                        <span class="preview-title-lg overline-title">Informations générales</span>
                        <div class="nk-block-des text-soft"><p>vous avez 0 code(s).</p></div>
                    </div>
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li>
                                        <a href="#" class="btn btn-white btn-outline-light"><em class="icon ni ni-download-cloud"></em><span>Export</span></a>
                                    </li>
                                    <li class="nk-block-tools-opt">
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                    <li>
                                                        <a href="#"><span>Add User</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><span>Add Team</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><span>Import User</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-stretch">
                    <div class="card-inner-group">
                        <div class="card-inner p-0">
                            <div class="nk-tb-list nk-tb-ulist">
                                <div class="nk-tb-item nk-tb-head">
                                    <div class="nk-tb-col nk-tb-col-check">
                                        <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="cid" /><label class="custom-control-label" for="cid"></label></div>
                                    </div>
                                    <div class="nk-tb-col"><span class="sub-text">Description</span></div>
                                    <div class="nk-tb-col tb-col-md"><span class="sub-text">Numero</span></div>
                                    <div class="nk-tb-col tb-col-lg"><span class="sub-text">Statut</span></div>
                                    <div class="nk-tb-col text-end"><span class="sub-text">Actions</span></div>
                                </div>
                                <div class="nk-tb-item">
                                    <div class="nk-tb-col nk-tb-col-check">
                                        <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="cid1" /><label class="custom-control-label" for="cid1"></label></div>
                                    </div>

                                    <div class="nk-tb-col"><span class="sub-text">bobby@softnio.com</span></div>
                                    <div class="nk-tb-col tb-col-sm"><span class="sub-text">bobby@softnio.com</span></div>
                                    <div class="nk-tb-col tb-col-md"><span class="sub-text">+342 675-6578</span></div>                                    
                                    <div class="nk-tb-col nk-tb-col-tools">
                                        <ul class="nk-tb-actions gx-1">
                                            <li class="nk-tb-action-hidden">
                                                <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Details" data-bs-original-title="Details"><em class="icon ni ni-eye-fill"></em></a>
                                            </li>
                                            <li class="nk-tb-action-hidden">
                                                <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Envoyé Par Mail" data-bs-original-title="Send Email"><em class="icon ni ni-mail-fill"></em></a>
                                            </li>
                                            <li class="nk-tb-action-hidden">
                                                <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Suspendre" data-bs-original-title="Suspend"><em class="icon ni ni-cross-fill-c"></em></a>
                                            </li>
                                            <li>
                                                <div class="drodown">
                                                    <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li>
                                                                <a href="#"><em class="icon ni ni-na"></em><span>Suspendre</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-block-between mb-2 mt-5">
                    <div class="nk-block-head-content">
                        <span class="preview-title-lg overline-title">Parties et Equipements</span>
                        <div class="nk-block-des text-soft"><p>Option(s) Disponible 0.</p></div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-sm-6 col-xl-3">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="g">
                                        <div class="custom-control custom-control-lg custom-switch">
                                            <label class="custom-control-label" for="customSwitch1">Accès Internet</label>
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="g">
                                        <div class="custom-control custom-control-lg custom-switch">
                                            <label class="custom-control-label" for="customSwitch2">Air Conditionné</label>
                                            <input type="checkbox" class="custom-control-input" id="customSwitch2" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="g">
                                        <div class="custom-control custom-control-lg custom-switch">
                                            <label class="custom-control-label" for="customSwitch3">Aire de jeux</label>
                                            <input type="checkbox" class="custom-control-input" id="customSwitch3" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="g">
                                        <div class="custom-control custom-control-lg custom-switch checked">
                                            <label class="custom-control-label" for="customSwitch4">Alarme incendie</label>
                                            <input type="checkbox" class="custom-control-input" id="customSwitch4" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="g">
                                        <div class="custom-control custom-control-lg custom-switch">
                                            <label class="custom-control-label" for="customSwitch5">Balcon</label>
                                            <input type="checkbox" class="custom-control-input" id="customSwitch5" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tabItem3" role="tabpanel">
                <InformationFinanciere></InformationFinanciere>
            </div>
            <div class="tab-pane" id="tabItem4" role="tabpanel">
                <p>
                    Tab4
                </p>
            </div>
            <div class="tab-pane" id="tabItem5" role="tabpanel">
                <p>
                    Tab4
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Superficie" class="control-label"></label>
                <input asp-for="Superficie" class="form-control" />
                <span asp-validation-for="Superficie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
