<!DOCTYPE html>
<html lang="en">
<head>

    <base href="~/">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Page Title  -->
    <title>@ViewData["Title"] - KabaImmo</title>
    <!-- StyleSheets  -->

    <link rel="stylesheet" href="~/css/dashlite.css" asp-append-version="true">
    <link id="skin-default" rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KabaImmo.styles.css" asp-append-version="true" />

    <!-- CSS  -->
    <link href="~/site/css/bootstrap.mim.css" rel="stylesheet" />
    <link href="~/site/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/site/css/style.css" rel="stylesheet" />
    <link href="~/site/css/m-styles.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/site/css/all.min.css" />


</head>
<body data-spy="scroll" data-target=".navbar" data-offset="64" onload="$.stellar();" style="">

    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">&nbsp;</div>
    </div>

    <!--start navigation-->
    <div class="navbar navbar-fixed-top" id="navigation">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="https://www.rentila.com/" class="brand"><img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/logo@2x.png" alt="logo Rentila" width="208" /></a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a href="https://www.rentila.com/">Accueil</a></li>
                        <li><a href="https://www.rentila.com/tour">Tour</a></li>
                        <li><a href="https://www.rentila.com/benefits">Avantages</a></li>
                        <li><a href="https://www.rentila.com/pricing">Tarifs</a></li>
                        <li><a href="https://www.rentila.com/blog">Blog</a></li>

                        <li><a href="https://www.rentila.com/login" class="connect">Connexion</a></li>
                        <li><a href="https://www.rentila.com/register" class="signup">Inscription</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section id="intro" style="background-image: url('/img/intro_bg2.png'); height: 929px;">
        <div class="container">
            <div class="row">
                <div class="span10 offset1 margin10">
                    <div class="row-fluid home-stars hidden-phone">
                        <div class="span4 text-center">
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <br />
                            Tellement utile et pratique !
                        </div>
                        <div class="span4 text-center">
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <br />
                            Incontournable pour le bailleur
                        </div>
                        <div class="span4 text-center">
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <span aria-hidden="true" class="fas fa-star orange"></span>
                            <br />
                            Logiciel merveilleux !
                        </div>
                    </div>
                    <h1>Gérez vos biens immobiliers avec le meilleur logiciel gratuit de gestion locative immobilière</h1>
                    <p class="center lead m-t-20">
                        Rentila est le meilleur logiciel de gestion locative immobilière en ligne. Suivi des loyers et charges, comptabilité, aide à la déclaration des revenus fonciers... Les différentes étapes de la vie du contrat de location
                        sont couvertes par notre site.
                    </p>
                    <div class="cta">
                        <div class="sign">
                            <a href="https://www.rentila.com/register" title="Ouvrir un compte gratuit" class="button-home green bigger" style=""> Ouvrir un compte gratuit </a><br />
                            <br />
                            <p class="mobile_apps">
                                <a href="https://play.google.com/store/apps/details?id=com.rentila" target="_blank" rel="noreferrer">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/appstore_play.png"
                                         alt="Rentila Android Google Play"
                                         onclick="_gaq.push([‘_trackEvent’,"
                                         ‘button’,=""
                                         ’clicked’,=""
                                         ’android=""
                                         app’,,=""
                                         ’true’])=""
                                         width="134"
                                         style="margin-right: 6px;" />
                                </a>
                                <a href="https://itunes.apple.com/us/app/rentila/id403695251" target="_blank" rel="noreferrer">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/appstore_apple.png"
                                         alt="Rentila iPhone Appstore"
                                         onclick="_gaq.push([‘_trackEvent’,"
                                         ‘button’,=""
                                         ’clicked’,=""
                                         ’iphone=""
                                         app’,,=""
                                         ’true’])=""
                                         width="134" />
                                </a>
                            </p>

                            <p class="m-b-5 hidden-phone">
                                <small class="lh-24"><b>3 574</b> propriétaires inscrits le mois dernier !</small>
                            </p>
                            <p class="hidden-phone">Déjà client ? <a href="https://www.rentila.com/login" class="link underlined">Cliquez ici</a></p>
                        </div>
                        <div class="img"><img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/macbook.png" alt="Rentila screenshot" width="590" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fadeInUp delay animated hidden-phone" id="more">
            <a href="https://www.rentila.com/#services" class="m-btn a-btn black big icn-only"><i class="fad fa-arrow-down"></i></a>
        </div>
    </section>
    <!--start services-->
    <section id="services">
        <div class="container">
            <div class="row divide">
                <div class="span8 offset2 m-t-50">
                    <h3>Comment ça marche ?</h3>
                    <p class="center lead">Simple comme 1,2,3</p>
                </div>
                <div class="span12">
                    <ul class="thumbnails">
                        <li class="span4">
                            <div class="thumbnail hvr-grow hvr-underline-from-center m-r-20">
                                <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icon_house_256px.png" width="128" alt="Créer un bien" />
                                <h4><b style="font-family:&#39;Open Sans&#39;, helvetica, Ariel, sans-serif;">1</b> Créer un bien</h4>
                                <span>APPARTEMENTS, MAISONS, PARKINGS...</span>
                                <p>Créez la fiche détaillée de votre Local (appartement, maison, parking...). Adresse, surface, équipements etc.</p>
                            </div>
                        </li>
                        <li class="span4">
                            <div class="thumbnail hvr-grow hvr-underline-from-center m-r-20">
                                <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icon_tenant_256px.png" width="128" alt="Créer un locataire" />
                                <h4><b style="font-family:&#39;Open Sans&#39;, helvetica, Ariel, sans-serif;">2</b> Créer un locataire</h4>
                                <span>LOCATAIRES ET COLOCATAIRES</span>
                                <p>Créez la fiche détaillé de votre Locataire. Nom, prénoms, adresse, téléphone, informations sur les garants...</p>
                            </div>
                        </li>
                        <li class="span4">
                            <div class="thumbnail hvr-grow hvr-underline-from-center m-r-20">
                                <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icon_key_256px.png" width="128" alt="Créer une location" />
                                <h4><b style="font-family:&#39;Open Sans&#39;, helvetica, Ariel, sans-serif;">3</b> Créer une location</h4>
                                <span>LE CONTRAT DE BAIL</span>
                                <p>Liez votre Local et votre Locataire dans une Location. Indiquez la durée, le montant du loyer et charges...</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row divide">
                <div class="span8 offset2 m-t-50">
                    <h3>Rentila vous assiste avec votre gestion locative</h3>
                    <p class="center lead">
                        Le site <b>automatise la création de vos Quittances</b> et vos <b>contrats de location</b>... Pour chaque contrat de location, les loyers et les Quittances électroniques sont générés automatiquement chaque mois. <br />
                        <br />
                        Rentila est noté <b>4.8</b> <span aria-hidden="true" class="fas fa-star orange"></span> <span aria-hidden="true" class="fas fa-star orange"></span> <span aria-hidden="true" class="fas fa-star orange"></span>
                        <span aria-hidden="true" class="fas fa-star orange"></span> <span aria-hidden="true" class="fas fa-star orange"></span> de 5 d'après plus de 1000 utilisateurs.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="span10 offset1">
                    <p class="center lead">
                        <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/screen_x3.png" alt="Rentila screenshots" />
                    </p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row divide">
                <div class="span12 m-t-20">
                    <div class="row">
                        <div class="span4">
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_lock.png" alt="Compte sécurisé" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Compte sécurisé</h4>
                                    <p class="opacity-80">Peu importe où vous êtes, 24/24, 7j/7, accédez facilement à votre portefeuille immobilier en ligne.</p>
                                </div>
                            </div>
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_moneyfolder.png" alt="Gestion des comptes" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Gestion des comptes</h4>
                                    <p class="opacity-80">Nous vous proposons un outil simple pour gérer vos dépenses et revenus fonciers. Vous pouvez aussi générer un bilan financier pour vous aider avec votre déclaration d’impôts.</p>
                                </div>
                            </div>
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_receipt.png" alt="Quittances électroniques" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Quittances électroniques</h4>
                                    <p class="opacity-80">
                                        Fini le papier. Profitez dès maintenant de tous les avantages du service e-quittance : visualisez votre dernière quittance en ligne, imprimez-la, archivez-la, téléchargez-la ou consultez l’une de vos
                                        quittances précédentes.
                                    </p>
                                </div>
                            </div>
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_tools.png" alt="Gestion des travaux et interventions" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Gestion des travaux et interventions</h4>
                                    <p class="opacity-80">Module de suivi des travaux et interventions chez le locataire.</p>
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_contract.png" alt="Modèle de Bail pré-rempli" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Modèle de Bail pré-rempli</h4>
                                    <p class="opacity-80">Créez votre Location et obtenez un modèle type de bail de location (vide, meublé, commercial) pré-rempli qui respecte la législation.</p>
                                </div>
                            </div>
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_stats.png" alt="Révision de loyer" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Révision de loyer</h4>
                                    <p class="opacity-80">Outil en ligne permettant la révision annuelle du loyer par rapport à l'indice de référence des loyers (IRL) et l'indice des loyers commerciaux (ILC).</p>
                                </div>
                            </div>
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_calculator.png" alt="Régularisation des charges" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Régularisation des charges</h4>
                                    <p class="opacity-80">Calcul de régularisation des charges locatives récupérables et génération du document à envoyer au locataire.</p>
                                </div>
                            </div>

                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_safe.png" alt="Synchronisation bancaire" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Synchronisation bancaire</h4>
                                    <p class="opacity-80">Connectez vos comptes bancaires et récupérez vos transactions automatiquement dans le logiciel.</p>
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_documents.png" alt="Archivage électronique" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Archivage électronique</h4>
                                    <p class="opacity-80">Archivez vos documents scannés (photos, factures, impôts, charges…) et partagez les avec votre locataire (propriétaire).</p>
                                </div>
                            </div>

                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_calendar.png" alt="Système de réservations" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Système de réservations</h4>
                                    <p class="opacity-80">Des outils nécessaires à la gestion de vos calendriers et réservations pour les locations saisonnières.</p>
                                </div>
                            </div>
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_messages.png" alt="Système de messagerie" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Système de messagerie</h4>
                                    <p class="opacity-80">Système de communication facile entre propriétaires et locataires via notre messagerie interne.</p>
                                </div>
                            </div>
                            <div class="feature-box hvr-grow">
                                <div class="feature-box-img">
                                    <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/home_icons_briefcase.png" alt="Divers outils" />
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Divers outils</h4>
                                    <p class="opacity-80">Modèles de lettres utiles, carnet d’adresses, devis travaux, côte des loyers...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="hint1">
        <div class="container">
            <span class="lead">Gérer vos biens en location n’a jamais été aussi facile!</span>
        </div>
    </section>
    <div class="container">
        <div class="row divide">
            <img src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/people_presenting.png" alt="Rentila, des milliers d&#39;utilisateurs" />
            <div class="span8 offset2">
                <h3>Besoin d'une visite guidée ?</h3>
                <p class="center lead">
                    Rentila existe pour aider locataires et propriétaires dans leurs interactions.<br />
                    Plus de <b>30 000 bailleurs</b> gèrent près de <b>100 000 biens</b> et nous font confiance avec leur comptabilité...
                </p>
                <br />
                <div class="row">
                    <div class="span4 text-center fs-11 m-b-20" style="float: left; margin-top: 0px; color: #333333;">
                        <span class="green bold fs-40">147 298 634€</span><br />
                        REVENU MENSUEL DE NOS UTILISATEURS
                    </div>

                    <div class="span4 text-center fs-11 m-b-20" style="display: inline-block; margin-top: 0px; color: #333333;">
                        <span class="red bold fs-40">35 891 965€</span><br />
                        DEPENSES MENSUELLES DE NOS UTILISATEURS
                    </div>
                </div>
                <br />
                <p class="center m-t-10">
                    <a href="https://www.rentila.com/register" title="Ouvrir un compte gratuit" class="button-home green" style="">Ouvrir un compte gratuit </a>
                </p>
                <h4><i class="far fa-check"></i> Pas d'engagement <i class="far fa-check"></i> Commencez gratuitement <i class="far fa-check"></i> Démarrez en 3 minutes</h4>
                <p class="center">
                    <img class="m-t-20" src="./Rentila - Logiciel gratuit de gestion locative immobilière en ligne_files/press_fr.png" style="width: 60%;" alt="Press" />
                </p>
            </div>
        </div>
    </div>

    <!-- ... but if something goes wrong get Jquery from local file -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
